<?xml version="1.0"?>
<config>
    <global>
        <models>
            <mcpebank2pay>
                <class>MCP_EBank2Pay_Model</class>
            </mcpebank2pay>
        </models>
        <modules>
            <Mcp_Ebank2pay>
                <version>1.0</version>
            </Mcp_Ebank2pay>
        </modules>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <mcp_service_observer>
                        <class>MCP_Service_Model_Observer</class>
                        <method>submitAllAfter</method>
                    </mcp_service_observer>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MCP_Service>
                    <files>
                        <default>mcp_service.csv</default>
                    </files>
                </MCP_Service>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <mcpebank2pay>
                <active>0</active>
                <model>mcpebank2pay/mcpebank2pay</model>
                <payment_action>authorize</payment_action>
                <title>Sofortüberweisung</title>
                <limit_min>1.00</limit_min>
                <limit_max>500.00</limit_max>
                <sort_order>2</sort_order>
            </mcpebank2pay>
        </payment>
    </default>
</config>