<?xml version="1.0"?>
<config>
    <modules>
        <MCP_Service>
            <version>2.0.0</version>
        </MCP_Service>
    </modules>
    <global>
        <models>
            <mcpservice>
                <class>MCP_Service_Model</class>
                <resourceModel>mcpservice_mysql4</resourceModel>
            </mcpservice>
        </models>
        <helpers>
            <mcpservice>
                <class>MCP_Service_Helper</class>
            </mcpservice>
        </helpers>
        <resources>
            <mcpservice_setup>
                <setup>
                    <module>MCP_Service</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mcpservice_setup>
        </resources>
        <blocks>
            <mcpservice>
                <class>MCP_Service_Block</class>
             </mcpservice>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MCP_Service>
                    <files>
                        <default>mcp_service.csv</default>
                    </files>
                </MCP_Service>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <MCP_Service>
                    <files>
                        <default>mcp_service.csv</default>
                    </files>
                </MCP_Service>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <mcpservice>
                <active>0</active>
                <sort_order>1</sort_order>
                <pay_text>Order #ORDER#</pay_text>
                <theme>x1</theme>
                <secret_field_name>secretfield</secret_field_name>
                <cleanup_days>30</cleanup_days>
            </mcpservice>
        </payment>
    </default>
    <frontend>
        <routers>
            <mcpservice>
                <use>standard</use>
                <args>
                    <module>MCP_Service</module>
                    <frontName>mcpservice</frontName>
                </args>
            </mcpservice>
        </routers>
    </frontend>
</config>