<?xml version="1.0"?>
<config>
   <sections>
        <payment>
            <groups>
                <mcpservice module="paygate" translate="label">
                    <label>mcpservice_title</label>
                    <sort_order>690</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label,comment">
                            <label>enabled</label>
                            <comment>enabled_description</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <account translate="label,comment">
                            <label>account</label>
                            <comment>account_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account>
                        <accesskey translate="label,comment">
                            <label>accesskey</label>
                            <comment>accesskey_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </accesskey>
                        <project_name translate="label,comment">
                            <label>project_name</label>
                            <comment>project_name_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </project_name>
                        <pay_text translate="label,comment">
                            <label>pay_text</label>
                            <comment>pay_text_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pay_text>
                        <theme translate="label,comment">
                            <label>theme</label>
                            <comment>theme_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </theme>
                        <gfx translate="label,comment">
                            <label>gfx</label>
                            <comment>gfx_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gfx>
                        <bggfx translate="label,comment">
                            <label>bggfx</label>
                            <comment>bggfx_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bggfx>
                        <bgcolor translate="label,comment">
                            <label>bgcolor</label>
                            <comment>bgcolor_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bgcolor>
                        <secret_field_name translate="label,comment">
                            <label>secret_field_name</label>
                            <comment>secret_field_name_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secret_field_name>
                        <secret_field_value translate="label,comment">
                            <label>secret_field_value</label>
                            <comment>secret_field_value_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secret_field_value>
                        <last_refresh>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </last_refresh>
                        <billing_url_creditcard>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </billing_url_creditcard>
                        <billing_url_debit>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </billing_url_debit>
                        <billing_url_ebank2pay>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </billing_url_ebank2pay>
                        <billing_url_prepay>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </billing_url_prepay>



                        <refresh_interval>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </refresh_interval>
                        <cleanup_days translate="label,comment">
                            <label>cleanup_days</label>
                            <comment>cleanup_days_description</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number validate-number-range number-range-3-1000</validate>
                        </cleanup_days>
                        <cleanup>
                            <frontend_type>button</frontend_type>
                            <frontend_model>mcpservice/cleanup</frontend_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cleanup>
                    </fields>
                </mcpservice>
            </groups>
        </payment>
    </sections>
</config>